    @model OgrenciNotMvc.Models.EntitiyFramework.TBLDERS
@{
    ViewBag.Title = "DersDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ders Detay</h2>

@using (Html.BeginForm("Guncelle", "Dersler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DERSAD)
        @Html.TextBoxFor(m => m.DERSAD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OGRTID)
        @Html.TextBoxFor(m => m.OGRTID, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.DERSID)

    <div style="margin-top:10px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}