@using OgrenciNotMvc.Models.EntitiyFramework;
@model List<TBLOGRENCILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    <strong>Öğrenciler</strong>
</div>
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Öğrenci ID</th>
            <th>Öğrenci Fotoğrafı</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Cinsiyet</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.OGRENCIID</td>
                <td width="50"><img data-action="zoom" src="@Url.Content(ogr.OGRENCIFOTOGRAF)" width="50" height="50" /></td>
                <td>@ogr.OGRENCIAD</td>
                <td>@ogr.OGRENCISOYAD</td>
                <td>@ogr.OGRENCICINSIYET</td>
                <td>
                    <a href="/Ogrenci/Sil/@ogr.OGRENCIID" class="btn btn-danger">Sil</a>
                    <a href="/Ogrenci/OgrenciDetay/@ogr.OGRENCIID" class="btn btn-success">Güncelle</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a href="/Ogrenci/YeniOgrenci" class="btn btn-primary">Yeni Öğrenci Kaydı</a>
<!--jquery Image Zoom-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="~/kiaalap/js/zoom.js"></script>
<!--jquery Datatables-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json'
        }
    });
</script>